* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}

/* header */
.sec_head{
    position: fixed;
    width: 100%;
    min-height: 100px;
    padding: 0px 0;
    z-index: 100;
    
}
header {
    height: 50px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .2);
    background: rgb(148, 145, 145);
    z-index: 1;

}
.ctulogo {
    width: 40px;
    height: 40px;
    transition: all .3s ease-in-out;
}
.ctulogo:hover{
    transform: scale(1.3);
}
a .ctulogo{
    margin:0px 10px;
}
.githublogo {
    width: 40px;
    height: 40px;
    transition: all .3s ease-in-out;
}
.githublogo:hover{
    transform: scale(1.3);
}
a .githublogo{
    margin:0px 10px;
}
header ul {
    position: relative;
    display: flex;
    justify-content: space-around;
    
}
header ul li {
    list-style: none;
   
}
header ul li a {
    display: inline-block;
    color: rgb(254, 254, 254);
    font-weight: 450;
    font-size: 15px;
    padding: 1rem 3.5rem;
    text-decoration: none;
    transition: all .3s ease-in-out;
    
}
header ul li a:hover{
    color: rgb(255, 255, 255);
    background-color: rgb(83, 78, 78);
}
header ul li a:active{
    background-color: #348136;
    box-shadow: 1px 5px #348136;
    transform: translateY(5px);
}

/* footer */

section footer{
    position: fixed; 
    margin-bottom: 5px;
    bottom: 5px;   
    width: 100%;  
    background-color: gray;  
    color: white;  
    text-align: center;  
}

/* body */


/* trangchu */
h1{
    margin-bottom: 40px;
    border: 0;
    padding-top: 100px;
    text-align: center;
    font-size: 32px;
    font-style: normal;
    font-weight: 300;
    color: #303030;
}

.h1_trangchu {
    margin-bottom: 40px;
    border: 0;
    padding-top: 100px;
    text-align: center;
    font-size: 32px;
    font-style: normal;
    font-weight: 300;
    color: #3d6599;
}
.h3_trangchu {
    border: 0;
    margin: 20px 0;
    text-align: center;
    font-size: 26px;
    font-style: normal;
    font-weight: 250;
    color: #658ec6;
}
.ul_trangchu{
    color: #658ec6;
    margin: 20px 0;
}
.row_trangchu{
    min-height: 500px;
    display: flex;
    justify-content: space-between;

}
.luudo{
    margin-top: 30px;
    width: 500px;
    height: 300px;
    border-radius: 10px;
    transition: all .2s ease-in-out;
}
.luudo:hover{
    transform: scale(1.05, 1.05);
}
.col1_trangchu {
    margin-left: 20px;
    margin-top: 10px;
    border-radius: 20px;
    border: 2px solid rgb(139, 194, 177);
    box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .2);
    transition: all .2s ease-in-out;
    padding: 10px;
    background: linear-gradient(to right bottom, rgba(255, 255, 255, 0.7), rgba(255, 255, 255, 0.3));
}
.col2_trangchu {
    min-width: 470px;
    margin-top: 10px;
    margin-left: 20px;
    margin-right: 20px;
    border-radius: 20px;
    border: 2px solid rgb(139, 194, 177);
    box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .2);
    transition: all .2s ease-in-out;
    padding: 10px 50px 50px 50px;
    background: linear-gradient(to right bottom, rgba(255, 255, 255, 0.7), rgba(255, 255, 255, 0.3));
}
.col3_trangchu {
    margin-top: 10px;
    margin-right: 20px;
    border-radius: 20px;
    border: 2px solid rgb(139, 194, 177);
    transition: all .2s ease-in-out;
    box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .2);
    padding: 10px 50px 50px 50px;
    background: linear-gradient(to right bottom, rgba(255, 255, 255, 0.7), rgba(255, 255, 255, 0.3));
}
.col1_trangchu:hover{
    transform: scale(1.05, 1.05);
}
.col2_trangchu:hover{
    transform: scale(1.05, 1.05);
}
.col3_trangchu:hover{
    transform: scale(1.05, 1.05);
}
.li_trangchu{
    line-height: 30px;
    text-align: justify;
}


/* thuchien */
.tongquan{
    margin: 10px 200px;
    line-height: 1.8;
}
.tongquan ul li{
    margin: 0 30px;
}
.esp img{
    margin: 30px 50px;
    width: 600px;
    justify-content: center;

}
.bmp img{
    margin: 20px 100px;
    width: 300px;
}
.laptrinh{
    margin: 10px 200px;
    line-height: 1.8;
}
.link_code{
    color: #060ba4;
    text-decoration: none;
}
.link_code:hover{
    color: #348136;
    text-decoration: underline;
}

/* capnhat */
.row_capnhat{
    margin: 80px 300px;
    display: flex;
    justify-content: space-between;

}
.refresh{
    margin-top: 50px;
    justify-content: center;
    display: flex;
    
}
.refresh_capnhat {
    border-radius: 5px;
    border: 2px solid rgb(106, 103, 103);
    min-width: 80px;
    min-height: 40px;
    font-size: 17px;
    font-weight: 300;
    transition: all .2s ease-in-out;
}
.refresh_capnhat:hover{
    color: aliceblue;
    background-color: #303030;
    font-weight: 300;
    font-size: 18px;
    box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .2);
}
.refresh_capnhat:active{
    transform: scale(1.05, 1.05);
    box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .2);
}
#hienthi_nhietdo{
    margin-top: 10px;
}
#hienthi_apsuat{
    margin-top: 10px;
}
.col1_capnhat{
    background-color: #8dc57e;
    color: aliceblue;
    padding: 50px 100px;
    box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .2);
    transition: all .2s ease-in-out;
    border-radius: 5px;
}
.col2_capnhat{
    background-color: #8dc57e;
    color: aliceblue;
    padding: 50px 100px;
    box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .2);
    transition: all .2s ease-in-out;
    border-radius: 5px;
}
.col1_capnhat:hover{
    transform: scale(1.05, 1.05);
}
.col2_capnhat:hover{
    transform: scale(1.05, 1.05);
}


/* bieudo */
.chart {
    display: flex;
    /* background-color: aliceblue; */
}
.refresh_bieudo{
    display: flex;
    justify-content: center;
}
.refresh_bieudo_button{
    border-radius: 5px;
    border: 2px solid rgb(106, 103, 103);
    min-width: 80px;
    min-height: 40px;
    font-size: 17px;
    font-weight: 300;
    transition: all .2s ease-in-out;
}
.refresh_bieudo_button:hover{
    color: aliceblue;
    background-color: #303030;
    font-weight: 300;
    font-size: 18px;
    box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .2);
}
.bieudo_nhietdo {
    min-width: 50%;
}
.bieudo_apsuat {
    min-width: 50%;
}
.tittle_chart {
    justify-content: center;
    text-align: center;
    margin: 20px;
}
#chartNhietdo{
    transition: all .5s ease-in-out;
}
#chartNhietdo:hover{
    transform: scale(1.1);
}
#chartApsuat{
    transition: all .5s ease-in-out;
}
#chartApsuat:hover{
    transform: scale(1.1);
}
